/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
  padding: 0;
  margin: 0;
}

.md-toolbar-spacer {
  flex: 1 1 auto;
}